* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(245, 245, 245);
    /*background-color: #1E1E1E;*/
    display: inline-flex;
}

.fontWeight {
    font-weight: 400;
}

a, p, h3, h4  {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

ul {
    list-style: none;
}

/*==================== left content ====================*/
header {
    background-color: #a488ff;
    color: white;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoFran {
    height: 200px;
    width: 200px;
    margin: 20% 20% 50px 20%;
    
    border: 3px solid white;
    border-radius: 50%;
    background-image: url("./Fran2020.jpg");
    object-fit: contain;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    font-weight: 100;
    letter-spacing: 2px;
}

header h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1.5px;
}

header ul {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 10% 10% 10% 10%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header li {
    padding: 3px;
}

header div a {
    margin: 15px 15px;
    fill:white;
    text-decoration: none;
}


/*======================================== right content ========================================*/
article {
    width: 65%;
}

.leftSpace {
    margin: 0 0 0 18px;
}

/*========== cards style ==========*/
.card {
    height: auto;
    width: 60vw;
    margin: 2% 0 0 2%;
    padding: 3%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #e3e3e3;
}

.card h2 {
    /*color: #2b8b8f;*/
    color: #8a73d4;
    font-family: 'Source Sans Pro', sans-serif;
}

.card h2 span {
    /*color: #8a73d4;*/
    color: #2b8b8f;
}

.card dd span {
    font-weight: 600;
}


/*========== 3º card: formação acadêmica ==========*/
dl {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 0 15px;
}

dt {
    margin: 10px 0 0 0;
    font-weight: 600;
}

dd {
    margin: 0 0 0 20px;
}

.topSpace {
    margin: 20px 0 0 0;
}