* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(245, 245, 245);
    /*background-color: #1E1E1E;*/
    display: inline-flex;
    height: 100vh;
    width: 100vw;
}

.fontWeight {
    font-weight: 400;
}

h3, h4  {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

/*==================== left content ====================*/
header {
    background-color: #a488ff;
    color: white;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoFran {
    height: 200px;
    width: 200px;
    margin: 20% 20% 50px 20%;
    
    border: 3px solid white;
    border-radius: 50%;
    background-image: url("./Fran2020.jpg");
    object-fit: contain;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    font-weight: 100;
    letter-spacing: 2px;
}

header h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.5px;
}

header ul {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 10% 10% 10% 10%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header li {
    padding: 3px;
}

header div a {
    margin: 15px 15px;
    fill:white;
    text-decoration: none;
}


/*======================================== right content ========================================*/
article {
    width: 70%;
}

.leftSpace {
    margin: 0 0 0 15px;
}

/*========== 1º card: sobre mim ==========*/
.sobreMim {
    height: auto;
    width: 60vw;
    margin: 5% 0 3% 2%;
    padding: 3%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #e3e3e3;
}

.sobreMim h2 {
    color: #2b8b8f;
    font-family: 'Source Sans Pro', sans-serif;
}

.sobreMim h2 span {
    color: #8a73d4;
}

/*========== 2º card: experiência profissional ==========*/
.experienciaPro {
    height: auto;
    width: 60vw;
    margin: 0 0 3% 2%;
    padding: 3%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #e3e3e3;
}

.experienciaPro h2 {
    color: #2b8b8f;
    font-family: 'Source Sans Pro', sans-serif;
}

.experienciaPro h2 span {
    color: #8a73d4;
}

.experienciaPro h3 span {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.experienciaPro a {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

/*========== 3º card: formação acadêmica ==========*/
.formacaoAca {
    height: auto;
    width: 60vw;
    margin: 0 0 0 2%;
    padding: 3%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #e3e3e3;
}

.formacaoAca h2 {
    color: #2b8b8f;
    font-family: 'Source Sans Pro', sans-serif;
}

.formacaoAca h2 span {
    color: #8a73d4;
}

.formacaoAca h3 span {
    font-weight: 400;
    font-size: 1em;
}

.formacaoAca ul {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
}

dl {
    color: #111011;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 0 15px;
}

 dt {
    margin: 10px 0 0 0;
    font-weight: 600;
}

dd {
    margin: 0 0 0 20px;
}

.topSpace {
    margin: 20px 0 0 0;
}